{% extends "base.html" %}

{% load static %}
{% block style %}

{% endblock %}
{% block content %}
<div class="container">
    <h1>새 글 작성</h1>
        <!--<h2>id : {{ post.user }}</h2>-->
            <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>      
                    <label for="author">Author:</label><br>
                    <input type="text" name="author"><br>
                    <label for="body">Text: </label><br>
                    <textarea cols=40 rows=10 name="body"></textarea>
                    <br>
                    <input type="submit" value="SUBMIT">
                </fieldset>
            </form>     
            <a href="{% url 'posts:index' %}">목록</a>
{% endblock %}